<div class="About">
    <div class="heading"><h1>Services</h1></div>
    <div class="service">
        <div class="card card_contain">
            <img src="../../assets/p2.jpg" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title" style="text-align: left; font-size: 2em;
                    color: rgb(10, 85, 224);">Vision</h5>
                <p class="card-text" style="text-align: justify;">Gadgeon is the
                    one-stop source to start your IoT Journey. Our IoT
                    consulting service facilitates analysis on the
                    transformation potential of the proposed use case along with
                    requirement specification and solution architecture. We help
                    select the technology stacks for connectivity, embedded
                    software, cloud platform & software, companion mobile apps,
                    security strategy, protocols to be used, along with an
                    overall solution development roadmap.</p>
            </div>
        </div>
        <div class="card card_contain">
            <img src="../../assets/p3.jpg" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title" style="text-align: left; font-size: 2em;
                    color: rgb(10, 85, 224);">Embedded Systems</h5>
                <p class="card-text" style="text-align: justify;">We take
                    complete ownership in all areas of Embedded Systems from
                    hardware design, firmware design & development, proto build,
                    firmware integration, test & validation and manufacturing
                    tests & certifications.</p>
                <p class="card-text" style="text-align: justify;">We develop
                    prototypes that are as reliable as working products. We help
                    our customers engineering teams to identify and use the
                    latest technologies in their products. We contribute to
                    whole product development as well as sub-system
                    development..</p>
            </div>
        </div>
        <div class="card card_contain">
            <img src="../../assets/p1.jpg" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title" style="text-align: left; font-size: 2em;
                    color: rgb(10, 85, 224);">IoT Solutions
                </h5>
                <p class="card-text" style="text-align: justify;">Gadgeon is the
                    one-stop source to start your IoT Journey. Our IoT
                    consulting service facilitates analysis on the
                    transformation potential of the proposed use case along with
                    requirement specification and solution architecture. We help
                    select the technology stacks for connectivity, embedded
                    software, cloud platform & software, companion mobile apps,
                    security strategy, protocols to be used, along with an
                    overall solution development roadmap.</p>

            </div>

        </div>
        <div class="card card_contain">
            <img src="../../assets/p4.jpg" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title" style="text-align: left; font-size: 2em;
                    color: rgb(10, 85, 224);">Industrial IoT</h5>
                <p class="card-text" style="text-align: justify;">Industry 4.0
                    refers to the 4th industrial revolution realized by applying
                    the latest technologies to core production systems and
                    business processes such as supply, delivery and many more.
                    Manufacturers can future-proof their operations by
                    redefining the creation and capturing of value across their
                    production facilities through the application of
                    technologies such as sensors, IoT, cloud and AI & ML.</p>
            </div>

        </div>

    </div>
</div>

