<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1 style="color: blue; text-align: center;">About Gadgeon</h1>
    </div>
    <div class="text" style="text-align: justify;">
    <h4><p>
        Gadgeon is a new-gen technology consultancy and engineering services company enabling customer’s digital journey.
         Gadgeon is dedicated to building solid software systems that creates business value for enterprises. 
         Our services include Product engineering, IoT Engineering, Embedded systems – hardware & Firmware, Enterprise application – integration & modernization, Full stack development, cloud & Mobile app development, data analytics with AI & ML, testing & automation, and Professional services.
          Gadgeon enables our customers to fully focus on high impact business transformation initiatives while the extended team from Gadgeon takes care of all engineering and operational activities.
          </p> </h4>
    </div>
    <div>
        <div class="card card_contain" style=>
            <img src="../../assets/gv.png" class="card-img-top" alt="..." height="300px">
            <div class="card-body">
              <p class="card-text">To be the most preferred end-to-end Technology Partner Globally</p>
            </div>
          </div>
          <div class="card card_contain" style=>
            <img src="../../assets/gm.png" class="card-img-top" alt="..." height="300px">
            <div class="card-body" >
              <p class="card-text" >Create business value by making sense from connected world</p>
            </div>
          </div>
          <div class="card card_contain" style=>
            <img src="../../assets/gvalue.png" class="card-img-top" alt="..." height=300px>
            <div class="card-body">
              <p class="card-text" >Engineering Excellence | Passion for Customer Success | Commitment to Employees | Integrity</p>
            </div>
          </div>
    </div>
    
</body>
</html>